# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
# Conda environments
*.conda
*.env
*.venv

# Django-specific files
db.sqlite3
*.sqlite3
*.log
*.pot
*.pyc

# Local development settings
local_settings.py

# Django migrations
*/migrations/
!*/migrations/__init__.py  # Keep __init__.py for each app's migrations directory

# Static and media files (handled by collectstatic)
staticfiles/
media/
# Ignore staticfiles versions if you have versioned directories
staticfiles_main/
static
