{% extends "base.html" %}
{% block page_title %}
    <h2>CV</h2>
{% endblock page_title %}
{% block page_content %}
    <!-- page container  -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">
        <!-- The Grid -->
        <div class="w3-row-padding">
            <!-- Left Column 1/3 of page-->
            <div class="w3-third">
                <div class="w3-white w3-text-grey w3-card-4">
                    <div class="w3-display-container">
                        <img src="https://math.dartmouth.edu/photos/for-people-pages/park_f007f75.jpg"
                             alt="This is my beautiful wife!"
                             style="width:100%" />
                        <div class="w3-display-bottomleft w3-container w3-text-black">
                            <h2>Ga Yee Park</h2>
                        </div>
                    </div>
                    <div class="w3-container">
                        <p>
                            <i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Combinatorialist
                        </p>
                        <p>
                            <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Hanover, NH
                        </p>
                        <p>
                            <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>gypark.math@gmail.com
                        </p>
                        <br>
                    </div>
                </div>
                <br>
                <!-- End Left Column -->
            </div>
            <!-- Right Column  2/3 of page-->
            <div class="w3-twothird">
                <!-- Education-->
                {% block educations %}
                    <h2>
                        <b>Education</b>
                    </h2>
                    {% for education in educations %}
                        <h4>
                            {{ education.title }}
                            {{ education.location.name }}
                        </h4>
                        {{ education.from_date }}
                        {{ education.to_date }}
                    {% endfor %}
                {% endblock educations %}
                <!-- Experience -->
                <!-- Some other section -->
                <!-- End right Column -->
            </div>
            <!-- End grid-->
        </div>
        <!-- End page-->
    </div>
{% endblock page_content %}
