{% extends "base.html" %}
{% block page_title %}
    CURRICULUM VITAE
{% endblock page_title %}
{% block page_content %}
    <!-- The Grid -->
    <div class="w3-row-padding">
        <!-- Left Column 1/3 of page-->
        <div class="w3-col s3">
            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                    <img src="{{ me.profile_picture.url }} " alt="" style="width:100%" />
                    <div class="w3-display-bottomleft w3-container w3-text-black">
                        <h2 class="outlined-text">{{ me.person.name }}</h2>
                    </div>
                </div>
                <div class="w3-container">
                    <p>
                        <i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i><b>{{ employments.first.role }}</b> at
                    </p>
                    <p>
                        <i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>{{ employments.first.location }}
                    </p>
                    <p>
                        <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>{{ me.person.email }}
                    </p>
                    <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i><a href="{{ me.github }}" target="_blank">{{ me.github }}</a>
                </p>
                <br>
            </div>
        </div>
        <br>
        <!-- End Left Column -->
    </div>
    <!-- Right Column  2/3 of page-->
    <div class="w3-col s8">
        <!-- Experience -->
        {% block employment %}
            <h2>
                <b>Employment</b>
            </h2>
            <hr>
            {% for employment in employments %}
                <div>
                    <span style="float: left">
                        <div style="margin-left: 20px;">
                            <b>{{ employment.role }}</b>
                            <br>
                            <div style="margin-left: 20px;">{{ employment.location.name }}</div>
                        </div>
                    </span>
                    <span style="float: right">{{ employment.from_date|date:"M Y" }} - {{ employment.formatted_end_date }}</span>
                </div>
                <div style="clear: both;"></div>
                <div style="margin-left: 40px;">{{ employment.note_as_html|safe }}</div>
            {% endfor %}
        {% endblock employment %}
        <!-- Education-->
        {% block educations %}
            <h2>
                <b>Education</b>
            </h2>
            <hr>
            {% for education in educations %}
                <div style="margin-left: 20px;">
                    <span style="float: left">
                        <b>{{ education.title }}</b>
                        <br>
                        <div style="margin-left: 20px;">{{ education.location.name }}</div>
                    </span>
                    <span style="float: right">{{ education.from_date|date:"M Y" }} - {{ education.formatted_end_date }}</span>
                </div>
                <div style="clear: both;"></div>
                <!-- Ensures the next elements appear below -->
            {% endfor %}
        {% endblock educations %}
        <!-- publications -->
        {% block publication %}
            <h2>
                <b>Publications</b>
            </h2>
            <hr>
            {% for publication in publications %}
                <div style="margin-left: 20px;">{{ publication.bib|safe }}</div>
                <br>
            {% endfor %}
        {% endblock publication %}
        <!-- teaching -->
        {% block teaching %}
            {% if course_locations %}
                <h2>
                    <b>Teaching</b>
                </h2>
                <hr>
                <div style="margin-left: 20px;">{% include "teaching/list.html" %}</div>
            {% endif %}
        {% endblock teaching %}
        <!-- mentoring -->
        {% block mentoring %}
            {% if mentorings %}
                <h2>
                    <b>Mentoring</b>
                </h2>
                <hr>
                {% for mentoring in mentorings %}<b>{{ mentoring.title }}</b>{% endfor %}
            {% endif %}
        {% endblock mentoring %}
        <!-- talks -->
        {% block talks %}
            {% if talks %}
                <h2>
                    <b>Talks</b>
                </h2>
                <hr>
                <div style="margin-left: 20px;">{% include "cv/talk_list.html" %}</div>
            {% endif %}
        {% endblock talks %}
        <!-- Conferences -->
        {% block conferences %}
            {% if conferences %}
                <h2>
                    <b>Conference attendance</b>
                </h2>
                <div style="margin-left: 20px;">{% include "cv/conference_list.html" %}</div>
            {% endif %}
        {% endblock conferences %}
        <!-- service -->
        {% block service %}
            {% if services %}
                <h2>
                    <b>Service and other activities</b>
                </h2>
                <hr>
                {% for service in services %}
                <ul>

                    <div style="margin-left: 20pzx;">
                            <li>
                                <span style="float: left">
                                    <div style="margin-left: 20px;">{{ service.role}}</div>
                                </span>
                                <span style="float: right">{{ service.formatted_start_date }} - {{ service.formatted_end_date }}</span>
                            </div>
                            <div style="clear: both;"></div>

                    </ul>
                {% endfor %}
            {% endif %}
        {% endblock service %}
        <!-- End right Column -->
    </div>
    <!-- End grid-->
    </>
    <!-- End page-->
</div>
{% endblock page_content %}
