<!-- blog/templates/blog/index.html -->
<!-- Displays the title and a snippet of the  -->
{% extends "base.html" %}
{% block page_title %}
    {{ title |upper }}
{% endblock page_title %}
{% block page_content %}
    {% block posts %}
        {% for post in posts %}
            <h3>
                <a href="{% url 'blog_detail' slug=post.slug %}">{{ post.title }}</a>
            </h3>
            <small>
                {{ post.created_on.date }} | Tags:
                {% for tag in post.tags.all %}
                    <a href="{% url 'tag_index' tag.slug %}">{{ tag.name }}</a>
                {% endfor %}
            </small>
            <p>{{ post.body_html | safe | linebreaks | slice:":400" }}</p>
            <hr>
        {% endfor %}
    {% endblock posts %}
{% endblock page_content %}
