{% for location in course_locations %}
    <b>{{ location.name }}</b>
    <!-- Display the location title -->
    <ul>
        {% for course in location.course.all %}
            <li>
                <b>{{ course.season }} {{ course.year }}:</b>
                <a href="{% url 'course_index' course.slug %}">{{ course.title }}</a>
            </li>
            <!-- Display each course title and date -->
        {% empty %}
            <!-- Handle case with no courses -->
        {% endfor %}
    </ul>
{% endfor %}
